*{
    margin: 10;
    padding: 10;
    box-sizing: border-box;
    
}
img{
    width: 30%;
    width: 300px;
    margin: 15;
    display: block; 
    margin: 0 auto;
}

#container{
    width: 800px;
    margin: 0 auto;
}



